/* This is the CSS for the custom select */
.custom-select-container {
  position: relative;
  color: $colorSecondary;
}

.custom-select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
  background-color: $colorPrimary;
  border-radius: 8px;
  height: 66px;
  cursor: pointer;
  color: $colorSecondary;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &.active {
    &::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    background-image: url(../images/icons/selectArrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: transform 0.3s ease;
  }
}

.custom-select-options {
  position: absolute;
  text-align: center;
  top: 110%;
  left: 0;
  right: 0;
  font-weight: 400;
  font-size: 18px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  &.opened {
    opacity: 1;
    visibility: visible;
  }
}

.custom-select-option {
  border-radius: 8px;
  padding: 10px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-select-option:hover {
  background-color: #f2f2f2;
}
