<aside class="dashboard__aside">
  <a href="./dashboard.html" class="logo dashboard__logo">
    <img src="../static/images/icons/logotypeSecondary.svg" alt="Premium Calculator Logotype" />
  </a>
  <a href="#" class="dashboard__profile">
    Костянтин Шабатура
    <span class="dashboard__profile-action">Переглянути профіль</span>
  </a>
  <nav class="dashboard__nav">
    <ul class="dashboard__list">
      <li class="dashboard__list-item">
        <a href="#" class="dashboard__link dashboard__link--active">
          <img class="dashboard__icon" src="../static/images/icons/homeIcon.svg" alt="" />
          <span class="dashboard__link-text">Головна</span>
        </a>
      </li>
      <li class="dashboard__list-item">
        <a href="./positions.html" class="dashboard__link">
          <img src="../static/images/icons/positionsIcon.svg" alt="" class="dashboard__icon" />
          <span class="dashboard__link-text">Посади</span>
        </a>
      </li>
      <li class="dashboard__list-item">
        <a href="#" class="dashboard__link">
          <img src="../static/images/icons/employeesIcon.svg" alt="" class="dashboard__icon" />
          <span class="dashboard__link-text">Працівники</span>
        </a>
      </li>
      <li class="dashboard__list-item">
        <a href="#" class="dashboard__link">
          <img src="../static/images/icons/documentsIcon.svg" alt="" class="dashboard__icon" />
          <span class="dashboard__link-text">Документи</span>
        </a>
      </li>
      <li class="dashboard__list-item">
        <a href="#" class="dashboard__link dashboard__link--active">
          <img src="../static/images/icons/settingsIcon.svg" alt="" class="dashboard__icon" />
          <span class="dashboard__link-text">Налаштування</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
