<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="shortcut icon" href="../static/images/icons/favicon.svg" />
    <title>Панель управління | Premium Calculator</title>
  </head>
  <div id="preloader" class="preloader">
    <img src="../static/images/icons/logotypeSecondary.svg" alt="Premium Calculator" class="preloader__image" />
  </div>
  <main class="calc">
    <div class="dashboard calc__dashboard">
      <aside class="dashboard__aside">
        <a href="./dashboard.html" class="logo dashboard__logo">
          <img src="../static/images/icons/logotypeSecondary.svg" alt="Premium Calculator Logotype" />
        </a>
        <a href="#" class="dashboard__profile">
          Костянтин Шабатура
          <span class="dashboard__profile-action">Переглянути профіль</span>
        </a>
        <nav class="dashboard__nav">
          <ul class="dashboard__list">
            <li class="dashboard__list-item">
              <a href="#" class="dashboard__link dashboard__link--active">
                <img class="dashboard__icon" src="../static/images/icons/homeIcon.svg" alt="" />
                <span class="dashboard__link-text">Головна</span>
              </a>
            </li>
            <li class="dashboard__list-item">
              <a href="#" class="dashboard__link">
                <img src="../static/images/icons/positionsIcon.svg" alt="" class="dashboard__icon" />
                <span class="dashboard__link-text">Посади</span>
              </a>
            </li>
            <li class="dashboard__list-item">
              <a href="#" class="dashboard__link">
                <img src="../static/images/icons/employeesIcon.svg" alt="" class="dashboard__icon" />
                <span class="dashboard__link-text">Працівники</span>
              </a>
            </li>
            <li class="dashboard__list-item">
              <a href="#" class="dashboard__link">
                <img src="../static/images/icons/documentsIcon.svg" alt="" class="dashboard__icon" />
                <span class="dashboard__link-text">Документи</span>
              </a>
            </li>
            <li class="dashboard__list-item">
              <a href="#" class="dashboard__link">
                <img src="../static/images/icons/settingsIcon.svg" alt="" class="dashboard__icon" />
                <span class="dashboard__link-text">Налаштування</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <div class="dashboard__content"></div>
      <!-- /.dashboard__content -->
    </div>
    <!-- /.dashboard -->
  </main>

  <script src="../static/js/dashboard.js" type="text/javascript"></script>
</html>
