<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="shortcut icon" href="../static/images/icons/favicon.svg" />
    <title>Панель управління | Premium Calculator</title>
  </head>
  <div id="preloader" class="preloader">
    <img src="../static/images/icons/logotypeSecondary.svg" alt="Premium Calculator" class="preloader__image" />
  </div>
  <main class="calc">
    <div class="dashboard calc__dashboard">
      <aside class="dashboard__aside">
        <a href="./dashboard.html" class="logo dashboard__logo">
          <img src="../static/images/icons/logotypeSecondary.svg" alt="Premium Calculator Logotype" />
        </a>
        <a href="#" class="dashboard__profile">Костянтин Шабатура</a>
        <nav class="dashboard__nav">
          <ul class="dashboard__list">
            <li class="dashboard__list-item">
              <a href="./homepage.html" class="dashboard__link dashboard__link--active">
                <img class="dashboard__icon" src="../static/images/icons/homeIcon.svg" alt="" />
                <span class="dashboard__link-text">Головна</span>
              </a>
            </li>
            <li class="dashboard__list-item">
              <a href="./positions.html" class="dashboard__link">
                <img src="../static/images/icons/positionsIcon.svg" alt="" class="dashboard__icon" />
                <span class="dashboard__link-text">Посади</span>
              </a>
            </li>
            <li class="dashboard__list-item">
              <a href="./employees.html" class="dashboard__link">
                <img src="../static/images/icons/employeesIcon.svg" alt="" class="dashboard__icon" />
                <span class="dashboard__link-text">Працівники</span>
              </a>
            </li>
            <li class="dashboard__list-item">
              <a href="./documents.html" class="dashboard__link">
                <img src="../static/images/icons/documentsIcon.svg" alt="" class="dashboard__icon" />
                <span class="dashboard__link-text">Документи</span>
              </a>
            </li>
            <li class="dashboard__list-item">
              <a href="./settings.html" class="dashboard__link">
                <img src="../static/images/icons/settingsIcon.svg" alt="" class="dashboard__icon" />
                <span class="dashboard__link-text">Налаштування</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <div class="dashboard__content">
        <div class="homepage dashboard__homepage">
          <h1 class="homepage__title">Статистика</h1>
          <div class="homepage__stats">
            <div class="homepage__stats-item">
              <h2 class="homepage__stats-title">Створених посад</h2>
              <span class="homepage__stats-number">0</span>
            </div>
            <div class="homepage__stats-item">
              <h2 class="homepage__stats-title">Створених формул</h2>
              <span class="homepage__stats-number">0</span>
            </div>
            <div class="homepage__stats-item">
              <h2 class="homepage__stats-title">Створених звітів</h2>
              <span class="homepage__stats-number">0</span>
            </div>
            <div class="homepage__stats-item">
              <h2 class="homepage__stats-title">Доданих працівників</h2>
              <span class="homepage__stats-number">0</span>
            </div>
          </div>
          <!-- /.homepage__stats -->
          <h2 class="homepage__title">Найчастіші запитання</h2>
          <div class="homepage__cards">
            <div class="homepage__item">
              <div class="homepage__row">
                <span class="homepage__question">Як додати працівника до системи?</span>
                <a href="#" class="homepage__switcher">
                  <span class="homepage__switcher-item"></span>
                  <span class="homepage__switcher-item"></span>
                </a>
              </div>
              <!-- /.homepage__row -->
              <div class="homepage__row homepage__accordion homepage__row--hidden">
                <p class="homepage__response">Премія за формулою</p>
              </div>
              <!-- /.homepage__row -->
            </div>
            <!-- /.homepage__item -->
            <div class="homepage__item">
              <div class="homepage__row">
                <span class="homepage__question">Як створити посаду й прив’язати до неї математичну формулу? </span>
                <a href="#" class="homepage__switcher">
                  <span class="homepage__switcher-item"></span>
                  <span class="homepage__switcher-item"></span>
                </a>
              </div>
              <!-- /.homepage__row -->
              <div class="homepage__row homepage__accordion homepage__row--hidden">
                <p class="homepage__response">Премія за формулою</p>
              </div>
              <!-- /.homepage__row -->
            </div>
            <!-- /.homepage__item -->
            <div class="homepage__item">
              <div class="homepage__row">
                <span class="homepage__question">Як створити математичну формулу? </span>
                <a href="#" class="homepage__switcher">
                  <span class="homepage__switcher-item"></span>
                  <span class="homepage__switcher-item"></span>
                </a>
              </div>
              <!-- /.homepage__row -->
              <div class="homepage__row homepage__accordion homepage__row--hidden">
                <p class="homepage__response">Премія за формулою</p>
              </div>
              <!-- /.homepage__row -->
            </div>
            <!-- /.homepage__item -->
            <div class="homepage__item">
              <div class="homepage__row">
                <span class="homepage__question">Як експортувати звіт за посадою?</span>
                <a href="#" class="homepage__switcher">
                  <span class="homepage__switcher-item"></span>
                  <span class="homepage__switcher-item"></span>
                </a>
              </div>
              <!-- /.homepage__row -->
              <div class="homepage__row homepage__accordion homepage__row--hidden">
                <p class="homepage__response">Премія за формулою</p>
              </div>
              <!-- /.homepage__row -->
            </div>
            <!-- /.homepage__item -->
            <div class="homepage__item">
              <div class="homepage__row">
                <span class="homepage__question">Де можна перевірити раніше задані значення математичної формули?</span>
                <a href="#" class="homepage__switcher">
                  <span class="homepage__switcher-item"></span>
                  <span class="homepage__switcher-item"></span>
                </a>
              </div>
              <!-- /.homepage__row -->
              <div class="homepage__row homepage__accordion homepage__row--hidden">
                <p class="homepage__response">Премія за формулою</p>
              </div>
              <!-- /.homepage__row -->
            </div>
            <!-- /.homepage__item -->
          </div>
          <!-- /.homepage__cards -->
        </div>
        <!-- /.homepage  -->
      </div>
      <!-- /.dashboard__content -->
    </div>
    <!-- /.dashboard -->
  </main>

  <script src="../static/js/preloader.js" type="text/javascript"></script>
  <script src="../static/js/dashboard/homepage.js" type="text/javascript"></script>
</html>
