<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="shortcut icon" href="../static/images/icons/favicon.svg" />
    <title>Document</title>
  </head>
  <body>
    <div id="preloader" class="preloader">
      <img src="../static/images/icons/logotypeSecondary.svg" alt="Premium Calculator" class="preloader__image" />
    </div>
    <main class="calc">
      <div class="dashboard calc__dashboard">
        <aside class="dashboard__aside">
          <a href="./dashboard.html" class="logo dashboard__logo">
            <img src="../static/images/icons/logotypeSecondary.svg" alt="Premium Calculator Logotype" />
          </a>
          <a href="#" class="dashboard__profile">Костянтин Шабатура</a>
          <nav class="dashboard__nav">
            <ul class="dashboard__list">
              <li class="dashboard__list-item">
                <a href="./homepage.html" class="dashboard__link">
                  <img class="dashboard__icon" src="../static/images/icons/homeIcon.svg" alt="" />
                  <span class="dashboard__link-text">Головна</span>
                </a>
              </li>
              <li class="dashboard__list-item">
                <a href="./positions.html" class="dashboard__link">
                  <img src="../static/images/icons/positionsIcon.svg" alt="" class="dashboard__icon" />
                  <span class="dashboard__link-text">Посади</span>
                </a>
              </li>
              <li class="dashboard__list-item">
                <a href="./employees.html" class="dashboard__link">
                  <img src="../static/images/icons/employeesIcon.svg" alt="" class="dashboard__icon" />
                  <span class="dashboard__link-text">Працівники</span>
                </a>
              </li>
              <li class="dashboard__list-item">
                <a href="./documents.html" class="dashboard__link">
                  <img src="../static/images/icons/documentsIcon.svg" alt="" class="dashboard__icon" />
                  <span class="dashboard__link-text">Документи</span>
                </a>
              </li>
              <li class="dashboard__list-item">
                <a href="./settings.html" class="dashboard__link dashboard__link--active">
                  <img src="../static/images/icons/settingsIcon.svg" alt="" class="dashboard__icon" />
                  <span class="dashboard__link-text">Налаштування</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>
        <div class="dashboard__content">
          <div class="settings dashboard__settings">
            <h1 class="settings__title">Налаштування</h1>
            <form action="#" method="POST" class="settings__form">
              <h2 class="settings__form-title">Система винагороджування</h2>
              <select name="position" id="original-select" class="settings__select">
                <option value="Оберіть посаду">Оберіть формулу</option>
                <option value="Якась посада із БД">Якась посада із БД</option>
                <option value="Ще одна посада">Ще одна посада</option>
              </select>
              <!-- This is the container for the custom select -->
              <div class="custom-select-container settings__select-container">
                <div class="custom-select-trigger settings__select-trigger">Оберіть формулу</div>
                <div class="custom-select-options settings__select-options">
                  <div class="custom-select-option settings__select-option" data-value="1">Перша формула</div>
                  <div class="custom-select-option settings__select-option" data-value="2">Друга формула</div>
                  <div class="custom-select-option settings__select-option" data-value="3">
                    Дизайнери, потримайте моє пиво
                  </div>
                </div>
              </div>
              <button class="button settings__form-button button--primary" type="submit">Перевірити формулу</button>
            </form>
            <div class="settings__wrapper">
              <a href="#" class="button settings__button button--primary">Створити нову формулу</a>
            </div>
            <!-- /.settings__wrapper -->
          </div>
          <!-- /.settings -->
          <!-- сюди контент піхаємо -->
        </div>
        <!-- /.dashboard__content -->
      </div>
      <!-- /.dashboard -->
    </main>

    <script src="../static/js/preloader.js"></script>
    <script src="../static/js/custom-select.js"></script>
    <script src="../static/js/dashboard/settings.js"></script>
  </body>
</html>
